* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    position: absolute;
}

.wrapper {
    background-image: url('../image/bg.jpg');
    background-size: cover;
    padding-top: 170px;
    padding-bottom: 34px;
}

.container {
    max-width: 1110px;
    margin: auto;
}

h1 {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
    color: #FFFFFF;
    text-shadow: 0 0 166px #000000;
}

.d-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    margin: 0 10px;
    transition: 0.3s;
}

header nav ul li:hover {
    font-weight: bold;
    transform: scale(1.3);
}

.header_ul {
    display: flex;
    list-style: none;
}

.header_ul a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
}

.header_ul li {
    margin: 0 10px;
}
.customer {
    max-width: 500px;
    margin: 0 0 98px;
    padding: 36px 33px;
    display: flex;
    background-color: #FFFFFF;
    opacity: 0.9;
    border-radius: 20px;
}

.customer p {
    margin: 0 28px;
    font-size: 23px;
    line-height: 150%;
    color: #000000;
}

.btn{
    display: inline-block;
    padding: 20px 48px;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 0 0 166px rgba(0, 0, 0, 0.2), 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

.btn:hover {
    content: "";
    background: linear-gradient(90deg, #6488d4, #193f50);
    border-radius: 10px;
    box-shadow: 8px 8px 109px rgba(0, 0, 0, .05);
    transition: opacity 0.5s;
    z-index: 1;

}
.info_container {
    background-color: white;
    background-size: cover;
    padding-bottom: 160px;
    padding-top: 14px;
}

.info_container img {
    display: block;
    width: 100%;
    margin-bottom: 160px;
}

.decor {
    max-width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.info_text {
    max-width: 380px;
}

.info_text h2 {
    font-family: 'Gothic A1', sans-serif;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 50px;
}

.info_text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    margin: 20px 0 20px;
}

.decor_img {
    max-width: 700px;
    position: absolute;
    right: 0;
}

.decor_img img {
    display: block;
    width: 100%;
    border-radius: 10px 0 0 10px;
}

.div_why {
    background-image: url('../image/back.png');
    background-size: cover;
    padding: 80px 0 80px;
}

.why_container h2 {
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 60px;
    padding: 0 0 0 95px;
}

.flex_why {
    display: flex;
    justify-content: space-between;
}

.cont_quality {
    max-width: 200px;
    background-color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    padding: 50px 30px;
}

.cont_quality img {
    margin-bottom: 50px;
}

.cont_quality h3 {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    text-align: left;
}

.cont_quality p {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}

.portfolio {
    background-color: #FFFFFF;
    background-size: cover;
}

.portfolio_container {
    max-width: 1110px;
    margin: auto;
}

.portfolio_container h4 {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: black;
    margin-bottom: 50px;
    padding-left: 90px;
}

.portfolio_flex {
    display: flex;
    justify-content: space-between;
}

.portfolio_flex div:first-of-type {
    margin-right: 30px;
    margin-bottom: 80px;
}

.img_group {
    display: block;
    width: 100%;
    margin-bottom: 157px;
}

.portfolio_container img {
    display: block;
    max-width: 540px;
    margin-bottom: 20px;
}

.portfolio_flex h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    margin-bottom: 10px;
}

.portfolio_flex p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}

.btn_request a {
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 67px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
}

.btn_request a:hover {
    content: "";
    background: linear-gradient(90deg, #6488d4, #193f50);
    border-radius: 10px;
    box-shadow: 8px 8px 109px rgba(0, 0, 0, .05);
    transition: opacity 0.5s;
    z-index: 1;
}

.btn_request {
    text-align: center;
    margin-bottom: 170px;
}

.services {
    background-image: url('../image/back-2.png');
    background-size: cover;
    padding: 60px 0 60px;
}

.container_services {
    max-width: 1190px;
    margin: auto;
}

.container_services h2 {
    background: #FFFFFF;
    border-radius: 20px;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    padding: 30px 370px 30px 30px;
    margin-bottom: 10px;
}

.form_questions {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
}

.form_questions h2 {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 20px;
}

.quest {
    background: #4C6071;
    border-radius: 30px;
    padding: 30px 50px 30px;
    display: flex;
}

/*.quest_input {
    display: flex;
    flex-direction: column;
}
*/
.quest_input label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 26px 20px 20px;
    cursor: pointer;
}

.quest_input span {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.quest_input label:not(:last-child) {
    margin-bottom: 10px;
}

/* section_6 */

.catalog {
    padding-top: 30px;
    padding-bottom: 150px;
}

.catalog_abstr {
    background-size: cover;
    margin-bottom: 149px;
    width: 100%;
}

.catalog h2 {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #373737;
    margin-bottom: 52px;
    margin-left: 95px;
}

.catalog_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.catalog_wrapper img {
    display: block;
    width: 100%;
}

.catalog_img img {
    margin-bottom: 20px;
}

.catalog_img h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
}

.btn_more {
    text-align: center;
}

.btn_more a {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px 46px;
}

.btn_more a:hover {
    content: "";
    background: linear-gradient(90deg, #6488d4, #193f50);
    border-radius: 10px;
    box-shadow: 8px 8px 109px rgba(0, 0, 0, .05);
    transition: opacity 0.5s;
    z-index: 1;
}

.wrapper_img {
    margin-bottom: 70px;
}

/* section_7 */

.reviews {
    background-image: url('../image/back-2.png');
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 95px;
}

.reviews h2 {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-left: 95px;
    margin-bottom: 87px;
}

.reviews_container {
    display: flex;
    justify-content: space-between;
}

.video_reviews {
    max-width: 255px;
}

.video_reviews img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.video_reviews h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.video_reviews p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

/* section_8 */

.contact_form {
    background-color: #FFFFFF;
    background-size: cover;
    padding: 20px 0 100px;
}

.contact_form img {
    display: block;
    width: 100%;
    margin-bottom: 170px;
}

.catalog_img {
    border-radius: 20px;
}

.container_form {
    max-width: 1110px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.container_form h2 {
    margin-bottom: 30px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #000000
}

.form_fio, .form_phone {
    margin-bottom: 40px
}

.form_fio input {
    display: block;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    padding: 5px;
    border: none;
    border-bottom: solid 1px black
}

.form_phone input {
    display: block;
    width: 100%;
    font-family: 'Roboto', sans-serif;;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    padding: 5px;
    border: none;
    border-bottom: solid 1px black
}

.text_comment {
    margin-bottom: 80px
}

.text_comment textarea {
    width: 100%;
    height: 24px;
    resize: none;
    font-family: 'Roboto', sans-serif;;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    padding: 5px;
    border: none;
    border-bottom: solid 1px black
}

.btn_submit {
    padding: 20px 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    background: linear-gradient(90deg, #4C6071 0%, #55BDEA 100%);
    box-shadow: 8px 8px 109px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.picture {
    max-width: 615px;
}

.picture img {
    display: block;
    width: 100%;
}

/* footer */

footer {
    background-image: url('../image/back-2.png');
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 57px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
}

.container-contacts {
    display: flex;
    justify-content: space-between;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.footer_contacts h2 {
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.footer_contacts p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.footer_contacts ul {
    display: flex;
    list-style: none;
}

.footer_contacts li {
    margin-right: 24px;
}

.footer_general {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_general h4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    text-align: center;
}

.footer_general a {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
}

.footer_general h4, a {
    text-align: right;
}

.container_map img {
    display: block;
    width: 100%;
}




